<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 
	<typeAliases>
		<typeAlias alias="Address" type="spire.md.domain.Address"/>
		<typeAlias alias="Board" type="spire.md.domain.Board"/>
		<typeAlias alias="BoardVo" type="spire.md.domain.BoardVo"/>
	</typeAliases>  -->
	
	<!-- 
	<mappers>
		<mapper resource="team4/md/mapper/AddressMapper.xml"/>
	</mappers>  -->

</configuration>
