<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team4.md.mapper.LoginMapper">
	<insert id="insert" parameterType="Member">
		insert into MEMBER values (#{member_id}, #{member_pw}, #{member_name}, #{member_phone}, #{member_email_check}, SYSDATE, 'N')
	</insert>
</mapper>
